{% extends "base.html" %}

{% block title %}
    {{ SITENAME }}
{% endblock %}

{% block header %}
<section id="masthead">
    <div class="inner">
        <header>
            <h1 class="name">{{ SITENAME }}</h1>
        </header>
        <p>Nosotros somos Marsbot, una agencia,<br>
            de diseño y desarrollo tecnológico.</p>
        <footer>
            <a class="button masthead" href="#main">Conocer más</a>
        </footer>
    </div>
</section>
{% endblock %}

{% block content %}
<section id="main">
    <header class="special container">
        <span class="icon fa-bar-chart-o"></span>
        <h2>As this is my <strong>twentieth</strong> freebie for HTML5 UP<br />
            I decided to give it a really creative name.</h2>
        <p>Turns out <strong>Twenty</strong> was the best I could come up with. Anyway, lame name aside,<br />
            it's minimally designed, fully responsive, built on HTML5/CSS3/<strong>skel</strong>,
            and, like all my stuff,<br />
            released for free under the <a href="http://html5up.net/license">Creative Commons Attribution 3.0</a> license. Have fun!</p>
    </header>

    <!-- One -->
    <section class="wrapper style2 container special-alt">
        <div class="row half">
            <div class="8u">

                <header>
                    <h2>Behold the <strong>icons</strong> that visualize what you’re all about. or just take up space. your call bro.</h2>
                </header>
                <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu comteger ut fermentum lorem. Lorem ipsum dolor sit amet. Sed tristique purus vitae volutpat ultrices. eu elit eget commodo. Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo.</p>
                <footer>
                    <ul class="buttons">
                        <li><a href="#" class="button">Find Out More</a></li>
                    </ul>
                </footer>

            </div>
            <div class="4u skel-cell-important">

                <ul class="feature-icons">
                    <li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
                    <li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
                    <li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
                    <li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
                    <li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
                    <li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
                </ul>

            </div>
        </div>
    </section>
</section>

    <section id="contacto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        {% for field in CONTACT_FIELDS %}
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                {% if field[1] == 'textarea' %}
                                <label>{{field[0]}}</label>
                                <textarea rows="5" class="form-control" placeholder="{{field[0]}}" id="{{field[2]}}" required data-validation-required-message="{{field[3]}}"></textarea>
                                <p class="help-block text-danger"></p>
                                {% else %}
                                <label>{{field[0]}}</label>
                                <input type="{{field[1]}}" class="form-control" placeholder="{{field[0]}}" id="{{field[2]}}" required data-validation-required-message="{{field[3]}}">
                                <p class="help-block text-danger"></p>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% if articles %}
    {% for article in articles.object_list %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{loop.index}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{article.title}}</h2>
                            <hr class="star-primary">
                            <img src="{{ SITEURL }}/images/portfolio/{{article.image}}" class="img-responsive img-centered" alt="">
                            <p>{{article.content}}</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="{{article.client_link}}">{{article.client}}</a>
                                    </strong>
                                </li>
                                <!-- 
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">{{article.date}}</a>
                                    </strong>
                                </li>
                                -->
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">{{article.service}}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endblock %}
